.container_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.list_text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px; 
  margin-bottom: 10px;
  margin-left: 10px;
}

.list_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}